@charset "UTF-8";

body {
    margin-bottom: 500px;
}

#btn-container {
    margin-top: 10px;
    padding: 30px;
    background-color: green;
    cursor: pointer;
}

#btn-container:hover {
    opacity: 0.8;
}